body {
    background-color: #0d1117;
    margin: 0;
    padding: 32px;
}

.avatar-main {
    width: 296px;
    height: 296px;
    border-radius: 50%;
    border: 1px solid #30363d;
    object-fit: cover;
}
